:root {
    --main-color: #d3ad7f;
    --black: #13131a;
    --bg: rgba(205,207,192,255);
    --bg2: #010103;
    --header: white;
    --border: .1rem solid rgba(255,255,255,.3);
    --featurecard: whitesmoke;
}

* {
    font-family: 'Roboto', sans-serif;
    margin: 0; 
    padding:0;
    box-sizing: border-box;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}

html{
    font-size: 63%;
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}

body, html {
    border: 0;
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
}

html::-webkit-scrollbar {
    width: 0.8rem;
}

html::-webkit-scrollbar-track {
    background: transparent;
}

html::-webkit-scrollbar-thumb {
    background: #fff;
    border-radius: 5rem;
}

body {
    background: var(--bg);
}

section {
    padding: 2rem 7%;
}

.btn {
    display: inline-block;
    background-color: #F25A28;
    padding: 10px;
    width: 13rem;
    color: white;
    text-align: center;
    font-size: 1.7rem;
    border: 2rem;
    border-radius: 10rem;
    cursor: pointer;
}

ul {
    list-style-type: none;
}

/* Header and Navbar */
.header {
    background: var(--header);
    display: flex;
    align-items:center;
    justify-content:space-between;
    padding: 1.5rem 2%;
    padding-right: 3%;
    border-bottom: var(--border);
    position: fixed;
    top: 0%; left:0%; right: 0;
    z-index: 1000;
    
}

.logoholder:hover {
    transform: scale(1.1);
}

.logo img {
    height: 6rem;
    position:static;
}
.navbar a{
    margin: 0 1 rem;
    font-size: 1.6rem;
    color: var(--black);
    margin-left: 20px;
}

.navbar a:hover {
    color: var(--main-color);
    border-bottom: .1rem solid var(--main-color);
    padding-bottom: .5rem;
    transform: scale(1.5);
}

/* Home Page */
.home{
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: url(images/background-image-home.png) no-repeat;
    background-size: cover;
    background-position: center;
}

.home .homecontent {
    max-width: 60rem;
}

#videoloop {
    transform: translateY(10%);
    border-radius: 5px;
    box-shadow: 1px 5px 10px rgb(93, 92, 92);

}

/* #homename {
    width: 200px;
} */

.homedetails {
    transform: translateY(30%);

}
.homedetails h5{
    font-size: 2rem;
    text-transform: uppercase;
    color: black;
}
.homedetails p{
    font-size: 1rem;
    font-weight: lighter;
    line-height: 1.8;
    padding: 1rem 0;
    color: black;
    margin-bottom: 10px;
}

.home .learnmorebtn {
    padding: 8px;
    border-radius: 10px;
    font-size: x-small;
    color: white;
    font-weight: bold;
    transform: translateY(-80%);
    background-color:#F25A28;
    text-transform: uppercase;
}

/* About Us Page*/
.aboutus {
    background-color: #fffafa;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-evenly;
}

#image-side {
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
}

#text-side {
    font-size: 2rem;
    padding-top: 15rem;
    padding-bottom: 20rem;
    padding-left: 2rem;
    padding-right: 2rem;
    text-align: justify;
}

#aboutusheader {
    font-size: 3rem;
    color: #bea93e;
}

#maketeanotwar {
    color: #313b41;
}

#aboutus-content {
    color: #313b41;
}

.heading {
    text-align: center;
    color: var(--bg2);
    text-transform: uppercase;
    padding-bottom: 3.5rem;
    font-size: 4rem;
}



/* Featured Page */
.featured {
    background-color: #FFD9B4;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
}

.featurebox {
    background-color: beige;
    height: 250px;
    width: 1200px;
    transform: translateY(100%);
    margin-left: -5%;
    border-radius: 10px;
    background-image: url(images/pattern1.jpg);
    opacity: 50%;
    box-shadow: 5px 5px 5px gray;
}

.featured .featurecontent {
    display: flex;
    flex: wrap;
    transform: translateY(-50%);
    
}

.featuredetails {
    transform: translateY(80%);
    font-size: 15px;
}

.featurebtn {
    padding: 5px;
    border-radius: 10px;
    font-size: smaller;
    color: black;
    font-weight: bold;
    /* box-shadow: 0px 2px 10px gray; */
    border: black 1px solid;
}

.featurebtn:hover {
    background-color: lightgreen;
}

.featurecontent .card {
    flex: 30%;
    margin: 10px 20px;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    height: 350px;
    width: 350;
    background-color: var(--featurecard);
    box-shadow: 10px 10px 10px gray;
    transition: 1s;
}

.featurecontent:hover .card {
    opacity: .5;
    filter: blur(5px);
    overflow:auto;

}

.featurecontent .card:hover {
    opacity: 1;
    filter:blur(0px);
    overflow:unset;
    background-color: rgb(246, 197, 197);
    transform: scale(1.2);
}


/* .featuredcontainer1 {
    flex: 30%;
    margin: 10px;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    height: 400px;
    width: 350;
    background-color: var(--featurecard);
    box-shadow: 10px 10px 10px gray;
    transition: 1s;
} */

/* .featuredcontainer1:hover{
    background-color: rgb(246, 197, 197);
    transform: scale(1.2);

} */

/* .featuredcontainer1:hover ~ .featuredcontainer2:not(:hover) {
    filter: blur(5px);
}

.featuredcontainer1:hover ~ .featuredcontainer3 {
    filter: blur(5px);
} */


#featured1 {
    transform: translateY(10%);
    box-shadow: 5px 5px 5px gray;
}

/* .featuredcontainer2 {
    flex: 30%;
    margin: 10px 50px;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    height: 400px;
    width: 350;
    background-color: var(--featurecard);
    box-shadow: 10px 10px 10px gray;
    transition: 1s;
}

.featuredcontainer2:hover {
    background-color: rgb(246, 197, 197);
    transform: scale(1.2);
} */

/* .featuredcontainer2:hover ~ .featuredcontainer1 {
    filter: blur(5px);
}


.featuredcontainer2:hover ~ .featuredcontainer3 {
    filter: blur(5px);
} */

#featured2 {
    transform: translateY(10%);
    box-shadow: 5px 5px 5px gray;
}


/* .featuredcontainer3 {
    flex: 30%;
    margin: 10px;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    height: 400px;
    width: 350;
    background-color: var(--featurecard);
    box-shadow: 10px 10px 10px gray;
    transition: 1s;
}

.featuredcontainer3:hover {
    background-color: rgb(246, 197, 197);
    transform: scale(1.2);
}

.featuredcontainer3:hover ~ .featuredcontainer1 {
    filter: blur(5px);
}

.featuredcontainer3:hover ~ .featuredcontainer2 {
    filter: blur(5px);
} */

#featured3 {
    transform: translateY(10%);
    box-shadow: 5px 5px 5px gray;

}


/* Menu Products */
.menu {
    background-color: aliceblue;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
}

.menu .menucontent {
    display: flex;
    flex-wrap: wrap;
    flex: 100%;
}

.menucontent .card {
    flex: 20%;
    margin: 30px 20px;
    text-align: center;
    padding: 25px 15px;
    border-radius: 10px;
    height: 330px;
    width: 300px;
    /* background-color: rgb(231, 214, 214); */
    /* background-color: #E2D9C4; */
    background-color: #F3F0EC;
    box-shadow: 10px 10px 10px gray;
    transition: 1s;
}

.menucontent .card img {
    border-radius: 10px;
    transform: scale(1.2);
    margin: 13px 0px;
    box-shadow: 1px 5px 5px gray;
}

.productdetails  {
    margin: 15px 0px;
    text-align: left;
    font-size: 1.3rem;
}

.productdetails h3 {
    text-transform: capitalize;
}

.productdetails p {
    margin-bottom: 15px;
    text-transform: none;
    text-align: justify;
}

/* .productdetails .prices_btn h4 {
    font-size: 2rem;
}

.productdetails #prices_btn span {
    font-size: x-small;
    text-decoration: line-through;
} */


.addtocartbtn {
    padding: 8px;
    border-radius: 10px;
    font-size: xx-small;
    color: white;
    font-weight: bold;
    /* box-shadow: 0px 2px 10px gray; */
    float: right;
    transform: translateY(-80%);
    background-color:#F25A28;
    text-transform: uppercase;
    
}

.addtocartbtn:hover {
    background-color: #BEA93E;
    color: #010103;
}

/* Blogs */
.blogs {
    background-color: white;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
}

.blogcontent .frame {
    display: flex;
    flex-wrap: flex;
    padding: 200px;
}

.frame .blogdetails {
    flex: 30%;
    transform: translateY(0%);
    background-color: white;
    margin: 1px;
    margin-right: 20px;
    padding: 1rem 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.frame .blogdetails h2 {
    margin-top: 6rem; 
    font-size: 3rem;
}

.frame .blogdetails p {
    margin-top: 5px;
    font-size: 20px;
    text-align: justify;

}


.frame img {
    flex: 10%;
    width: 5rem;
    height: auto;
}

.blogcontent .frame {
    margin: 30px 20px;
    text-align: center;
    padding: 25px 15px;
    border-radius: 10px;
    width: 100%;
    /* background-color: rgb(231, 214, 214); */
    /* background-color: #E2D9C4; */
    background-color: #F3F0EC;
    box-shadow: 10px 10px 10px gray;
    transition: 1s;
}

.blogbtn {
    padding: 8px;
    border-radius: 10px;
    font-size: xx-small;
    color: white;
    font-weight: bold;
    /* box-shadow: 0px 2px 10px gray; */
    float: right;
    transform: translateY(-80%);
    background-color:#F25A28;
    text-transform: uppercase;
    margin-top: 8rem;
    font-size: 1.5rem;
    
}

.blogbtn:hover {
    background-color: #BEA93E;
    color: #010103;
}

/* Contact Us Page*/
.contactus {
    background-color: #F5f5f5;
    background-size: cover;
    background-position: center;
    min-height: fit-content;
    padding: 0;
    padding-top: 3rem;
}

#contactheader {
    font-size: 3rem;
    color: #bea93e;
    justify-content: center;
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 5rem;
}

#contact-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-evenly;
    font-size: 2.5rem;
    text-align: center;
    color: #313b41;
}

.mainlist {
    font-size: 1.7rem;
}

.sublist {
    color: #F25A28;
}

footer {
    height: 10rem;
    font-size: 1.3rem;
    color:#13131a;
    text-align: center;
    background-color: #bea93e;
    background-size: cover;
    background-position: center;
    padding: 3rem;
    margin-top: 5rem;
}

.footercontent {
    display: grid;
    justify-content: center;
    vertical-align: bottom;
}